<!doctype html>
<html lang="en" {% if 'theme' in session %}data-mode="dark"{% endif %}>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exclusive Mart</title>
<meta name="description" content="Ecommerce store using Flask and Tailwind css">
<meta property="og:image" content="{% if prevImage %}{{prevImage}}{% endif %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tailwindcss/output.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" /> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link defer rel="stylesheet" href="/static/css/material_icons.css">
<script defer src="/static/js/theme.js"></script>

{% block css %}{% endblock css %}

</head>
<body class="bg-white dark:bg-gray-900">
    <header class="">
        <!-- Top Nav -->
        <div class="py-2 px-5 bg-black sm:flex items-center justify-center">
            <div class="text-xs text-center">
                <span class="text-gray-300 dark:text-gray-100 text-xs">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</span>
                <a href="#" class="text-white dark:text-white font-bold text-xs mx-1 underline">Shop Now</a>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-slate-100 dark:bg-slate-800 py-3 px-5 sm:px-10 md:px-16 lg:px-20 flex justify-between items-center border-b-2 border-slate-100 dark:border-transparent shadow-sm">
            <div>
                <span class="font-bold text-xl dark:text-white">Exclusive</span>
            </div>
            <ul class="list-none hidden items-center gap-10 lg:flex">
                <li><a href="#" class="text-sm dark:text-white">Home</a></li>
                <li><a href="#" class="text-sm dark:text-white">Contact</a></li>
                <li><a href="#" class="text-sm dark:text-white">About</a></li>
                <li><a href="/signup" class="text-sm dark:text-white">Signup</a></li>
                <li><a href="/login" class="text-sm dark:text-white">Log In</a></li>
            </ul>
            <div class="items-center gap-4 flex">
                <div class="hidden bg-slate-100 border border-slate-200 px-3 py-2 rounded-sm sm:flex gap-3 items-center">
                    <input type="search" class="text-sm bg-inherit outline-none border-none" name="search" id="search_input" placeholder="Search">
                    <i class="fas fa-search text-sm"></i>
                </div>
                <button id="theme-toggle" class="text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-500 ease-in-out">
                    <!-- used when using Python Flask -->
                    <i id="theme-toggle-icon" class="fas fa-moon dark:text-white"></i>
                </button>
            </div>
        </nav>
    </header>

    {% block main %}


    {% endblock main %}


    <footer class="bg-black px-5 lg:px-20 py-5">
        <div>
            <p class="text-center text-gray-300 text-xs">&copy; Copyright Exclusive Mart | All Rights Reserverd</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/7d3f73a100.js" crossorigin="anonymous"></script>

    {% block js %}{% endblock js %}
</body>
</html>