{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block main %}

<main class="flex flex-col-reverse lg:py-10 lg:flex-row">
    <div class="bg-blue-300 flex items-center justify-center lg:w-1/2">
        <img src="/static/img/dl.beatsnoop 1.png" alt="image" class="w-full">
    </div>
    <div class="flex justify-center px-5 sm:px-10 md:px-16 lg:px-20 py-20 flex-col lg:py-0 lg:w-1/2 items-center">
        <form class="flex flex-col gap-3" action="/login" method="post">
            <h1 class="text-4xl dark:text-white">Log In to Exclusive</h1>
            <p class="dark:text-white text-slate-500">Enter your details below</p>
            <input name="email" type="email" class="py-3 text-sm bg-transparent outline-none border-b-gray-400 border-b" placeholder="Email" required>
            <input name="password" type="password" class="py-3 text-sm bg-transparent outline-none border-b-gray-400 border-b" placeholder="Password" required>
            <button type="submit" class="text-sm p-3 bg-black dark:bg-indigo-600 hover:bg-slate-800 dark:hover:bg-indigo-500 text-white rounded-sm">Log In</button>
            <button type="button" class="flex items-center justify-center gap-3 p-3 bg-transparent text-black rounded-sm border border-gray-300 hover:bg-gray-100 hover:border-gray-400">
                <img width="18" class="dark:text-white text-gray-500" alt="google logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/225px-Google_%22G%22_logo.svg.png"></i>
                <span class="text-sm leading-none dark:text-white">Log in with Google</span>
            </button>
            <p class="text-sm mt-3 text-center"><span class="text-slate-500 dark:text-gray-100">Don't have an account?</span> <a href="/signup" class="underline underline-offset-8 dark:text-white">Sign Up</a></p>
        </form>
    </div>
</main>

{% endblock main %}

{% block js %}{% endblock js %}