{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block main %}

<main class="flex flex-col-reverse lg:flex-row">
    <div class="flex items-center justify-center lg:w-1/2">
        <img src="/static/img/dl.beatsnoop 1.png" alt="image" class="w-full">
    </div>
    <div class="flex justify-center px-5 sm:px-10 md:px-16 lg:px-20 py-20 flex-col lg:py-0 lg:w-1/2 items-center">
        <form class="flex flex-col gap-3" action="/signup" method="post">
            <h1 class="text-2xl sm:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl dark:text-white">Create an Account</h1>
            <p class="dark:text-white text-slate-500">Enter your details below</p>
            <input name="name" type="text" class="dark:text-white p-3 rounded-sm text-sm bg-transparent outline-none border-b-gray-400 border-b" placeholder="Name">
            <input name="email" type="email" class="dark:text-white p-3 rounded-sm text-sm bg-transparent outline-none border-b-gray-400 border-b" placeholder="Email">
            <input name="password" type="password" class="dark:text-white p-3 rounded-sm text-sm bg-transparent outline-none border-b-gray-400 border-b" placeholder="Password">
            <button type="submit" class="text-sm p-3 bg-red-600 hover:bg-red-500 text-white rounded-sm">Create Account</button>
            <button type="button" class="flex items-center justify-center gap-3 p-3 bg-transparent text-black rounded-sm border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-slate-800 hover:border-gray-400">
                <img width="18" class="dark:text-white text-gray-500" alt="google logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/225px-Google_%22G%22_logo.svg.png"></i>
                <span class="text-sm leading-none dark:text-white">Continue with Google</span>
            </button>
            <p class="text-sm mt-3 text-center"><span class="text-slate-500 dark:text-gray-100">Already have account?</span> <a href="/login" class="underline underline-offset-8 dark:text-white">Log In</a></p>
        </form>
    </div>
</main>

{% endblock main %}

{% block js %}{% endblock js %}